{% extends "base.html" %}

{% block content %}

    <div id="chart" style="overflow-y: scroll;" result="{{ result }}"></div>
    <script type="text/javascript" src="/static/force.js"></script>

{% endblock content %}

